<footer>
    <div class="container-footer">
        <div class="primary">
            <div class="contact-form">
                <div class="container">
                    <h3 class="section__title contact__title">Онлайн-запись</h3>
                    <form class="form" autocomplete="off">
                        <input type="text" class="form__input" name="name" placeholder="Имя*" required />
                        <input type="tel" class="form__input" name="tel" placeholder=" Телефон*" required />
                        <textarea name="comment" class="form__input form__comment" placeholder="Сообщение"></textarea>
                        <button class="form__submit" type="submit">Отправить</button>
                    </form>
                </div>
            </div>
            <div class="contact">
                <div class="container">
                    <h3 class="section__title contact__title">Контакты</h3>
                    <ul class="contact__list">
                        <li class="contact__list-item">
                            <address class="contact__address">
                                <a class="contact__link" href="#" target="_blank" rel="noopener noreferrer">
                                    <svg class="contact__icon" width="24" height="24">
                                        <use href="./images/sprite.svg#icon-map"></use>
                                    </svg>ул.Васильковская, 7а, Киев, 08132</a></address>
                        </li>
                        <li class="contact__list-item">
                            <a class="contact__link" href="tel:+380441111111">
                                <svg class="contact__icon" width="24" height="24">
                                    <use href="./images/sprite.svg#icon-phone"></use>
                                </svg> +38 044 111 11 11</a>
                        </li>
                        <li class="contact__list-item">
                            <a class="contact__link contact__link-email" href="mailto:barbershop@email.com">
                                <svg class="contact__icon" width="24" height="24">
                                    <use href="./images/sprite.svg#icon-mail"></use>
                                </svg>barbershop@email.com</a>
                        </li>
                    </ul>
                    <div class="worktime">
                        <h4 class="section__subtitle contact__subtitle">Время работы</h4>
                        <p class="worktime__subtitle">Ежедневно с 9.00 до 22.00 </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="secondary">
                <div class="secondary__social">
                    <a class="secondary__social-link" href="#">Instagram</a>
                    <a class="secondary__social-link" href="#">YouTube</a></div>
                <div class="secondary__copyright">
                    <p class="secondary__copyright-text">© Copyright 2020</p>
                </div>
            </div>
        </div>
    </div>
</footer>